/target
.env
docs/plans/
vendor/sherpa-onnx/lib/*.so
vendor/sherpa-onnx/lib/lib/
vendor/sherpa-rs-sys/
vendor/sherpa-rs/.cargo-ok
vendor/sherpa-rs/.cargo_vcs_info.json
vendor/sherpa-rs/Cargo.lock
vendor/sherpa-rs/Cargo.toml.orig
vendor/sherpa-rs/README.md
models/
